body{
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* Clases para textos */
.textoBoldBlanco{
	/*background: none repeat scroll 0 0 rgb(0, 30, 34);*/
	font-weight: bold;
	color: #ffffff;
}

/* Navbar */
/*nav{
	position: absolute;
	top: 0;
	z-index: 500;
}

.line{
	background: none repeat scroll 0 0 rgba(0, 30, 34, 0.85);
}

.top-nav {
	text-align: center;
}
.top-nav ul {
	padding: 0;
}

#navItemCentro{
	margin-bottom: 0;
}*/


/* TEST MENUUUUUUU */
nav{
	background: none repeat scroll 0 0 rgba(0, 30, 34, 0.85);
}

.navbar{
	position: absolute;
	top: 0;
	z-index: 500;
	margin-bottom: 0;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary .navbar-nav > li {
 /* display: inline-block;
  float: none;*/
  float: left;
   position: relative;
  display: block;
  padding: 10px 15px;
  margin: auto;
}
#navbar-primary .navbar-nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
 /* position: relative;
  display: block;
  padding: 10px 15px;*/
}

.textoMenu{
	font-weight: bold;
	color: #ffffff !important;
}

/*.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}*/

/* ------------------------------ */

.logo{
	margin: 0;
	text-align: center;
	width: 100%;
	/*background-color: #ffffff;*/
}

/* Carousel */
#carouselFoto1{
	background-image:url('../img/1.jpg');
}

#carouselFoto2{
	background-image:url('../img/2.jpg');
}

#carouselFoto3{
	background-image:url('../img/3.jpg');
}


/* Scroll 2 */
/* Hay que agregar la parte de los rankings, etc */

/* Footer */
#div-footer{

/* Che, sacandole esto que le agregaste a mí me toma bien, como estaba antes, yo no le veo ningun espacio ni nada raro :P dejalo comentado por las dudas */
/*	text-align: center;
	position:absolute;
   bottom:0px;

   width:100%;
   background:#2aa02a;*/
   background-color: #2AA02A;
	text-align: center;

}

#footer-derecha, #footer-centro, #footer-izquierda{
	vertical-align: middle;
	padding-top: 20px; 
	padding-bottom: 10px; 
}

#div-footer>div>p>a{
	color: #F7FC32;
}

#div-footer>div>p>a:hover{
	color: #FF9D27;
}

#div-social{
	float: left;
}

.social-icons{
	padding-left: 5px;
	float: left;
}

#row-footer-derecha1{
	padding-right: 0;
	text-align: right;
}

#row-footer-derecha2{
	text-align: left;
}

/* -------------------------------------------------------------------------- */

/* Login */

.form-body{
    background:#fff;
    padding:20px;
}

.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}

.innter-form{
	padding-top:20px;
}

.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
	color:#222 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;
	
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
}

.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
}
	
.sa-innate-form button{
	border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
}

.sa-innate-form button:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
}

.sa-innate-form p{
    font-size:13px;
    padding-top:10px;
}

.error{
	border: 1px solid red;
}

.alerta{
	color: red;
	visibility: hidden;
}
