/* -------------------------------------------------------------------------- */

/* Tablero de anuncios */
#rowAnuncios{
	margin-top: 2% !important;
}

/* Flexbox para que los thumbnails tengan la misma altura sin importar el contenido */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnails {
  height: 100%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.thumbnails .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/**/

.thumbnails img{
	border-color: #ffffff !important;
	border: 2px solid;
}

.thumbnails{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: #ffffff !important;
	border: 5px solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 200px;
}

#thumbnail1, #thumbnail3{
	background-color: #FF9D27;
}

#thumbnail2, #thumbnail4{
	background-color: #FFDD44;
	/*background-color: #1FC5A3;*/
}

#iconoTablero{
	vertical-align: middle;
}

.thumbnails > img{
  display: block;
  max-width: 100%;
  height: auto;
}

.titulosTablero{
	margin-bottom: 10%;
}

.botonesTablero{
	margin-top: 10%;
}