/* Imagen de perfil */
.divCirculo{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    margin: 10px;
}

#fotoPerfil{
    background-image: url(../img/caraa1.jpg);
}

.panelDatos{
	margin: 10%;
	border-color: #FBA436 !important;
}

.headingPanel{
	background-color: #FBA436 !important; 
}

#botonSeguir:hover{
	background-color: #FF6600 !important;
	color: #ffffff;
}

/* Galeria de mascotas */
.divFotosMascotas{
	margin-top: 4%;
	margin-bottom: 4%;
}

.fotosMascotas{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
}

.foto{
	float: left;
}

.fotos-Polaroid a{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}


/* Pone el titulo a cada imagen */
.fotos-Polaroid a:after{
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.fotos-Polaroid img{ 
	display: block; 
	width: inherit; 
}

/* Rotación de las imágenes */
.fotos-Polaroid a:nth-child(2n){
	/*-webkit-transform: rotate(-2deg);  
	-moz-transform: rotate(-2deg); */
	transform: rotate(-2deg); 
}

.fotos-Polaroid a:nth-child(3n){ 
	/*-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); */
	transform: rotate(2deg); 
}
.fotos-Polaroid a:nth-child(4n){
	/*-webkit-transform: rotate(-2deg);  
	-moz-transform: rotate(-2deg); */
	transform: rotate(-2deg); 
}
.fotos-Polaroid a:nth-child(5n){
	/*-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); */
	transform: rotate(2deg); 
}

/* Efecto hover */
.fotos-Polaroid a:hover{
	/*-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);*/
    transform: rotate(0deg);
	/*-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);*/
    transform: scale(1.2);
	z-index:10;
	/*-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);*/
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
